:root {
  --font-main: "Montserrat", sans-serif;
  --color-one: #111111;
  --color-one60: #11111199;
  --color-two: #1e1823;
  --color-three: #4c4c4c;
  --color-four: #fd9222;
  --color-five: #fcf1e0;
  --color-six: #fafafa;
  --color-seven: #ffffff;
}

body {
  font-family: var(--font-main);
  color: var(--color-one);
  background-color: var(--color-six);
}

.link {
  text-decoration: none;
  color: inherit;
}
.list {
  list-style: none;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}

.container {
  display: flex;
}
.logo {
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.54px;
}
.head-nav-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.28px;
}
.hero {
  background-color: var(--color-one60);
}
.hero-title {
  color: var(--color-seven);
  font-family: var(--font-main);
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.84px;
}
.hero-button {
  background-color: var(--color-four);
  color: var(--color-seven);
  font-family: var(--font-main);
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
}
.hero-link {
}

.advantages {
  background-color: var(--color-two);
  font-style: normal;
}
.advantages-title {
  color: var(--color-seven);
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}
.advanteges-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.28px;
}
